.postsBlock{
  padding: 15px;
}

.postsBlock button {
  display: block;
  padding: 10px 20px;
  margin: 10px;
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
}
.posts{
  margin-top: 30px;
}