
.dialogs{
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems{
  padding: 20px;
}

.dialogsItems .active{
  color: gold;
}

.messanges{
padding: 20px;
}


.dialogs button {
  display: block;
  padding: 10px 20px;
  margin: 10px;
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
}

